<?xml version="1.0"?>
<!--
/**
 * Author Robert Rupa
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Konatsu_PreattyMessages" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Theme"/>
            <module name="Magento_Blank"/>
            <module name="Magento_Luma"/>
        </sequence>
    </module>
</config>
